.container {
  background-color: transparent;
  backdrop-filter: blur(1px);
  outline: snow solid 1px;
  border: none;
  border-radius: 1rem;
  padding: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  box-shadow: inset 0 0 20px 0px snow;
}

.header {
  color: snow;
  border-bottom: snow 1px solid;
  text-transform: uppercase;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 1rem;
}

.container::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}