@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

* {
    font-family: "Lora", serif;
    padding: 0;
    margin: 0;
}