@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

* {
  font-family: "Lora", serif !important;
  padding: 0;
  margin: 0;
  transition: 1s ease;
}

.glass {
  all: unset;
  outline: 1px solid rgb(255 255 255 / 25%);
  padding: 0.5rem;
  border-radius: 1rem;
  box-shadow: inset 0 0 5px 0 rgb(255 255 255 / 25%);
  color: white;
  text-align: center;
  backdrop-filter: blur(10px);
}

.glass::placeholder {
  color: rgba(255, 255, 255, 0.25);
}

.glass:hover,
.glass:focus {
  box-shadow: 0 0 5px 5px rgb(255 255 255 / 50%);
}

button.glass {
  cursor: pointer
}

select.glass {
  cursor: pointer;
  outline: 1px solid rgb(255 255 255 / 50%);
  padding: 0.25rem;
  border-radius: .5rem;
  margin-block: 1rem;
  display: block;
  width: 100%;
}

select.glass option {
  background-color: black;
  color: rgb(255, 255, 255 / 25%)
}

input[type=number].glass {
  width: 100%;
  display: block;
  margin-block: 1rem;
}

.hide{
  display: none !important;
}

input[type="range"].range {
  display: block;
  margin-block: 1rem;
  width: 100%;
}


input[type="range"].range {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
}


input[type="range"].range::-webkit-slider-runnable-track {
  height: 6px;
  background: #e0e0e0;
  border-radius: 999px;
}

input[type="range"].range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  background: grey;
  border: 3px solid #fff;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  margin-top: -6px;
  cursor: pointer;
}


input[type="range"].range::-moz-range-track {
  height: 6px;
  background: #e0e0e0;
  border-radius: 999px;
}

input[type="range"].range::-moz-range-thumb {
  width: 18px;
  height: 18px;
  background: grey;
  border: 3px solid #fff;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}


input[type="range"].range::-ms-track {
  height: 6px;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"].range::-ms-fill-lower,
input[type="range"].range::-ms-fill-upper {
  background: #e0e0e0;
  border-radius: 999px;
}

input[type="range"].range::-ms-thumb {
  width: 18px;
  height: 18px;
  background: grey;
  border: 3px solid #fff;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}


input[type="range"].range:focus {
  outline: none;
}

input[type="range"].range::-webkit-slider-thumb:hover,
input[type="range"].range::-moz-range-thumb:hover,
input[type="range"].range::-ms-thumb:hover {
  transform: scale(1.06);
}


.rangeWrapper {
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
}

.rangeTooltip {
  position: absolute;
  top: -30px;
  transform: translateX(-50%);
  background: #9E9E9E;
  color: #040404;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 12px;
  line-height: 1;
  pointer-events: none;
  white-space: nowrap;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
}

.rangeTooltip::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -6px;
  border-width: 6px 6px 0 6px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.85) transparent transparent transparent;
}

.radioOptions {
  align-self: stretch;
  margin: .5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-inline: 2rem;

}

.radioOptions input[type=radio]:checked {
  appearance: none;
  border: white 4px solid;
  padding: 2px;
  outline: white 1px solid;
  color: white;
  border-color: white;
}