@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

* {
  font-family: "Lora", serif;
  padding: 0;
  margin: 0;
  transition: 1s ease;
}

.glass {
  all: unset;
  outline: 1px solid rgb(255 255 255 / 25%);
  padding: 0.5rem;
  border-radius: 1rem;
  box-shadow: inset 0 0 5px 0 rgb(255 255 255 / 25%);
  color: white;
  text-align: center;
  backdrop-filter: blur(10px);
}

.glass::placeholder {
  color: rgba(255, 255, 255, 0.25);
}

.glass:hover,
.glass:focus {
  box-shadow: 0 0 5px 5px rgb(255 255 255 / 50%);
}

button.glass {
  cursor: pointer
}

select.glass {
  cursor: pointer;
  outline: 1px solid rgb(255 255 255 / 50%);
  padding: 0.25rem;
  border-radius: .5rem;
  margin-block: 1rem;
  display: block;
  width: 100%;
}

select.glass option {
  background-color: black;
  color: rgb(255, 255, 255 / 25%)
}

input[type=number].glass {
  width: 100%;
  display: block;
  margin-block: 1rem;
}

.hide{
  display: none !important;
}