.container-card {
  display: grid;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  transition: 1s;
  border-radius: 10px;
  overflow: clip;
  outline: #ffffff30 solid 1px;
}

.image {
  grid-area: item;
  overflow: hidden;
  filter: brightness(.5);
}

.info {
  z-index: 0;
  grid-area: item;
  overflow: hidden;
  color: white;
  text-align: center;
  height: fit-content !important;
  align-self: end;
  border-top: rgba(255, 255, 255, 0.5) solid .9px;
  text-transform: uppercase;
  backdrop-filter: blur(.1px);
  background: linear-gradient(transparent, rgb(0, 0, 0));
}

/*
-- class for handle the width
*/
.size-card,
img {
  height: 100px;
  width: 100px;
  object-fit: cover;
}

/*
-- animations and hovers
*/

.container-card:hover {
  animation: card 1s linear;
  filter: drop-shadow(0px 0px 10px black);

  .image {
    filter: none;
  }

  .info {
    opacity: 0;
  }
}

@keyframes card {
  25% {
    transform: rotateZ(5deg)
  }

  75% {
    transform: rotateZ(-5deg)
  }
}

* {
  transition: 1s;
}

/*
-- control schema colors
*/

@media (prefers-color-scheme: dark) {
  .container-card:hover {
    filter: drop-shadow(0px 0px 10px snow);
  }

  .image {
    grid-area: item;
    overflow: hidden;
    filter: brightness(.8);
  }
}

body {
  background-color: grey;
}