.container-card {
  display: grid;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  transition: 1s;
  border-radius: 10px;
  overflow: clip;
  outline: #ffffff30 solid 1px;
}

.image {
  grid-area: item;
  overflow: hidden;
  filter: brightness(.5);
}

.info {
  z-index: 0;
  grid-area: item;
  overflow: hidden;
  color: white;
  text-align: center;
  height: fit-content !important;
  align-self: end;
  border-top: rgba(255, 255, 255, 0.5) solid .9px;
  text-transform: uppercase;
  background: linear-gradient(transparent, #00000099);
}

/*
-- class for handle the width
*/
.size-card,
img {
  height: 100px;
  width: 100px;
  object-fit: cover;
}

/*
-- animations and hovers
*/

.container-card:hover {
  animation: card .5s linear;
  filter: drop-shadow(0px 0px 10px black);

  .image {
    filter: none;
  }

  .info {
    opacity: 0;
  }
}

@keyframes card {
  50% {
    transform: translateY(10px)
  }
}

.info,.image,.card {
  transition: 1s;
}

/*
-- control schema colors
*/

@media (prefers-color-scheme: dark) {
  .container-card:hover {
    filter: drop-shadow(0px 0px 10px snow);
  }

  .image {
    grid-area: item;
    overflow: hidden;
    filter: brightness(.8);
  }
}

/*
-- media query
*/
@media (min-width: 320px) and (max-width: 425px) {

  .size-card,
  img {
    height: 100px;
    width: 100px;
  }

  .info {
    font-size: small;
  }
}

@media (min-width: 426px) and (max-width: 768px) {

  .size-card,
  img {
    height: 150px;
    width: 150px;
  }

  .info {
    font-size: large;
  }
}

@media (min-width: 769px) {

  .size-card,
  img {
    height: 200px;
    width: 200px;
  }

   .info {
    font-size: xx-large;
  }
}