.logo {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-self: center;
  color: white;
}

.logo span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  background-color: #2563eb;
  border-radius: 0.5rem;
  font-weight: bold;
  font-size: 1.25rem;
}

@media (max-width: 530px) {
  .logo {
    gap: 0.6rem;
    font-size: 1rem;
  }

  .logo span {
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    border-radius: 0.45rem;
  }
}

@media (max-width: 480px) {
  .logo {
    font-size: 0.7rem;
    gap: 0.5rem;
  }

  .logo span {
    width: 1.4rem;
    height: 1.4rem;
    font-size: 0.85rem;
    border-radius: 0.4rem;
  }
}
