.floating-input {
    position: relative;
    width: 100%; 
    margin: 16px 0;

    input {
        width: 100%;
        border: 2px solid #665;
        border-radius: 4px;
        background: white;
        padding: 12px 12px;
        font-size: 16px;
        color: black;
        outline: none;
    }

    input:focus {
        border-color: #00cc66;
    }

    label {
        position: absolute;
        left: 10px;
        top: 14px;
        color: #aaa;
        font-size: 16px;
        pointer-events: none;
        background: white; 
        padding: 0 10px;
        transition: all 0.2s ease;
    }

    input:focus + label,
    input:not(:placeholder-shown) + label {
        top: -10px; 
        font-size: 16px;
        color: #00cc66;
    }
}
