---
import { CarTechnicalSheet } from "../components/CarTechnicalSheet/CarSheet";
import '../styles/global/styles.css'
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>car-sheet</title>
</head>
<body>
  <CarTechnicalSheet id={1} client:load/>
</body>
</html>