---
import "../styles/global/styles.css";
import { Background } from "../components/background/Background";
import { HeaderPage } from "../components/header/HeaderPage";
import { Footer } from "../components/footer/FooterCustom";
import { HomeView } from "../components/home/Home";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>Home</title>
  </head>
  <body>
    <Background client:load />
    <HeaderPage client:load> HOLA </HeaderPage>
    <HomeView client:load />
    
    <Footer />
  </body>
</html>
