---
import { HeaderPage } from "../components/header/HeaderPage";
import { Footer } from "../components/footer/FooterCustom";
import NewCars from "../components/newCars/NewCars";
import { PromoBanner } from "../components/banner/Banner";
import { Background } from "../components/background/Background";
import "../styles/global/styles.css";
---

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>CRAUTOS</title>
</head>

<HeaderPage client:load />
<Background client:load/>
<main>
  <NewCars client:load />
  <PromoBanner client:load />
</main>
<Footer client:load/>
