---
import { Backgroung } from "../components/background/Background";
import { HeaderPage } from "../components/header/HeaderPage";

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Backgroung />
		<HeaderPage children={"HOLA"}/>
	</body>
</html>

<style is:global>
	* {
		padding: 0;
		margin: 0;
	}
	body {
		#background-carrusel {
			display: block;
			width: 100dvw;
			height: 100dvh;
			overflow: hidden;
			text-wrap: nowrap;
			white-space: nowrap;
			font-size: 0;

			img {
				object-fit: cover;
				width: 100dvw;
				height: 100dvh;
				filter: blur(5px);
				animation: background-carrusel 120s infinite ease;
			}
		}
	}

	@keyframes background-carrusel {
		0% {
			transform: translateX(0);
		}

		12.5% {
			transform: translateX(-100dvw);
		}
		25% {
			transform: translateX(-200dvw);
		}
		37.5% {
			transform: translateX(-300dvw);
		}
		50% {
			transform: translateX(-400dvw);
		}
		62.5% {
			transform: translateX(-500dvw);
		}
		75% {
			transform: translateX(-600dvw);
		}
		100% {
			transform: translateX(-700dvw);
		}
	}
</style>
