---
import "../styles/global/styles.css";
import { HeaderPage } from "../components/header/HeaderPage";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Playground</title>
  </head>
  <body>
    <h1>Pre Order Now!</h1>
    <HeaderPage>
      <button type="submit">close</button>
      <button type="submit">close</button>
      <button type="submit">close</button>
      <button type="submit">close</button>
    </HeaderPage>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium recusandae
    minima pariatur corrupti ducimus labore deserunt perspiciatis non! Mollitia atque
    beatae quia fugiat? Odio impedit voluptatibus magni sequi, eveniet velit! Beatae
    quo aperiam, voluptate, minima culpa ducimus laboriosam quia assumenda nam dolorem
    fugiat expedita dolor fugit sapiente delectus cupiditate, doloribus eveniet non
    laborum deleniti numquam ad eius maxime? Totam, ipsam. Quaerat beatae nulla dolores
    maxime repellat aliquid quasi libero, suscipit repudiandae atque voluptatum hic
    quis natus alias nemo deserunt quas blanditiis doloremque molestiae tempore soluta.
    Velit quas laboriosam illum sint. Dicta, nihil nesciunt optio eaque minima possimus
    dolores exercitationem est ex necessitatibus odit quo? Dolorem repellat accusantium
    porro ea quisquam asperiores! Earum cupiditate perferendis quasi eius minima
    iste non modi? Non, libero eligendi! Nam optio, illum nostrum impedit veritatis
    facere ducimus ipsam, beatae quia sit aperiam officia at nulla commodi omnis
    cum laboriosam consequuntur vitae magni magnam voluptatem a. Corrupti! Ullam
    animi pariatur laborum modi quis placeat nostrum rerum ab dignissimos! Officiis
    nulla animi quisquam ea dolores, ducimus fuga? Reiciendis ad quo eveniet repellat
    laboriosam laudantium hic alias sint facilis! Nostrum inventore nisi eum ea,
    at sit fugit iusto eligendi natus ratione porro quod doloribus dolore ducimus
    ut quisquam libero saepe sapiente illo, numquam harum impedit est consequuntur.
    Placeat, aut. Exercitationem ducimus non animi ullam autem corporis laboriosam
    quisquam cupiditate fugit. Dolores officia ullam voluptatibus fuga minus placeat
    eveniet consequuntur dolor eum, eligendi ducimus! Ullam rerum sapiente aspernatur
    deserunt ratione. Maiores illum maxime necessitatibus perferendis? Fugiat, ab
    eum quos sunt cum modi tempore sequi qui veniam cumque quas explicabo nobis totam
    dolorem sint corrupti sapiente, mollitia enim numquam distinctio! Qui. Voluptate
    illo dolores libero voluptates ad nulla nam numquam maiores magni, nesciunt nihil
    earum quibusdam saepe adipisci quae. Placeat deserunt officiis et hic voluptatum
    aut nostrum, odio id eaque iusto? Aliquam eius, nulla, vel ipsa consectetur unde
    perspiciatis totam aut repellat id quo tenetur libero facere voluptas explicabo
    mollitia officia et voluptate expedita temporibus. Aliquam eos omnis architecto
    reiciendis? Porro? Hic quasi odio optio? Ab at nesciunt a necessitatibus voluptas
    dolore sed vel asperiores veniam pariatur, consequatur excepturi laudantium tempora
    beatae voluptate labore quidem aperiam quod animi nam recusandae minus? Voluptatibus
    nihil temporibus aut nisi illo voluptas. Magni excepturi, ut, modi officiis quasi
    neque ducimus laudantium quibusdam explicabo qui veritatis quaerat saepe tempore
    ipsam perspiciatis mollitia sunt aliquid magnam pariatur. Accusantium, laborum
    iure earum excepturi, saepe exercitationem corporis doloremque sunt vero dolor,
    soluta deserunt quas cupiditate amet quod nulla maxime esse praesentium atque
    laboriosam repellat reprehenderit. Suscipit architecto adipisci voluptatem. Impedit
    sequi harum nesciunt omnis ipsum cupiditate dicta veritatis quam tempora explicabo
    suscipit voluptate expedita reprehenderit, quae delectus ea enim illo numquam
    voluptatibus quaerat saepe voluptates rem. Sed, fuga assumenda? Nemo suscipit
    consequuntur sed, aspernatur placeat in voluptatibus ut iure maxime magnam sequi
    non asperiores beatae. Doloribus, aspernatur laborum nulla minima quis enim esse,
    maiores provident eius ipsam exercitationem molestiae! Corporis qui natus amet
    hic totam provident, possimus dolorum eveniet eligendi debitis adipisci accusantium
    blanditiis consequatur vero, asperiores magni commodi nobis autem, praesentium
    error dignissimos. Facilis nobis neque earum sed! Tempore iure eaque eos doloremque
    sapiente odit facilis placeat culpa modi iste corporis animi, rem, nihil totam
    enim rerum, cum nesciunt nobis. Recusandae soluta eveniet dolores iste, aliquam
    fugit repellat? Reiciendis vero rem, aperiam commodi quidem sapiente libero dolores
    cum perferendis aliquam aspernatur architecto culpa non, incidunt, eaque amet
    placeat quos nulla! Vel provident sunt reprehenderit architecto illo hic recusandae.
    Voluptate dolore iure repudiandae, molestias nisi quaerat qui atque id itaque
    dolores saepe ratione amet esse cupiditate sequi quis maiores porro consequatur
    veniam omnis doloribus? Voluptatum ex assumenda nihil necessitatibus! Repellat
    corporis, expedita rerum ab in exercitationem odio vero tempora harum molestias
    enim, quia sint tempore totam eaque. Autem ipsam aut nisi odio cumque! Voluptate
    corrupti doloremque in aspernatur voluptatem. Facere porro accusamus fugit nostrum
    consequatur temporibus rerum voluptas, voluptatum fuga reiciendis, obcaecati
    tempore eaque ipsam! Consequatur eum mollitia repellendus accusantium debitis
    harum aperiam, quia dolore vero eligendi facere nulla. Impedit aperiam laudantium
    nam. Expedita, tempore quod. Iure ex itaque quae doloribus deleniti asperiores,
    consequatur ad pariatur sequi est illum, eveniet perferendis, modi id cupiditate
    qui neque earum mollitia adipisci. Delectus velit nesciunt distinctio voluptas
    natus eligendi itaque quibusdam dolore quam, laborum labore quod eum sapiente
    facere assumenda necessitatibus in blanditiis qui dignissimos. Consequuntur iusto
    minus excepturi, nesciunt autem assumenda! Atque recusandae optio dolor culpa
    omnis beatae assumenda quia officiis porro. Delectus, dolores. Voluptates sed
    natus fuga maxime reiciendis porro doloremque eaque iste ex, quas voluptatem,
    corporis expedita, labore ipsam? Expedita earum consequuntur quo id doloribus
    vitae obcaecati deleniti corrupti autem quod deserunt vero, minima quasi aut
    voluptate dolor a incidunt quia reprehenderit nihil. Dolorem hic sunt voluptatibus
    itaque quod. Sed praesentium neque provident optio! Ex voluptatum, provident
    est vel reiciendis impedit quia blanditiis itaque iste, animi sit, et magnam
    officia voluptas in quaerat ea facere fugiat error at dolorem. Deleniti qui id
    nemo eveniet voluptate dolorum aperiam quae enim repudiandae nostrum officiis
    reiciendis aut optio obcaecati fugit atque omnis in voluptatum, maxime voluptatem
    ut nesciunt! Doloremque eum nesciunt quas! Aliquid ut recusandae vitae numquam
    vero ipsum, quaerat, accusamus omnis ducimus asperiores, aperiam consectetur
    cum! Molestiae in sapiente commodi ipsam dolorem assumenda debitis ab libero
    vero, laboriosam eum repellendus enim! Nostrum minima expedita cum dolorem. Officiis
    quis similique vitae mollitia animi recusandae! Qui dolore aut, error mollitia
    odio magni perspiciatis dolores facere id officia minima debitis perferendis,
    sint commodi laborum. Dolor est consectetur suscipit provident consequatur beatae
    dolores itaque minus molestiae ad, illo non repellendus sequi atque veniam totam
    fugit! Eveniet nihil blanditiis tenetur possimus dolor recusandae voluptas, consequuntur
    totam. Asperiores repellat suscipit explicabo beatae ullam quod saepe amet nemo,
    ex iusto incidunt et quia veniam recusandae consectetur fugit, nobis eius veritatis
    rerum quae ad minus praesentium quaerat. Quaerat, tenetur? Autem, eius? Est nulla
    aperiam tempora ea nam dolore ipsa quaerat dolorem incidunt velit, possimus dignissimos?
    Reiciendis soluta dolore corporis quibusdam, inventore itaque vero? Facere quia
    voluptate suscipit quod laborum? Blanditiis, et tempora temporibus dolore excepturi
    voluptate aspernatur cupiditate non, officiis labore, dolores nam minima facilis.
    Corporis, ducimus excepturi minus sunt eos numquam est quo, quis odio, pariatur
    nemo quae. Suscipit similique dignissimos at fugiat excepturi sit provident perferendis
    est ut, labore eius saepe deserunt maxime illo quod architecto cumque? Labore
    debitis repellendus excepturi molestiae eligendi sit impedit fugiat autem? Nobis
    accusamus, perspiciatis quae aliquam quaerat laudantium mollitia quas nemo corrupti.
    Harum natus cupiditate sapiente libero in voluptate tenetur illum, ullam voluptatum
    officia porro earum possimus? Alias ad doloribus obcaecati? Esse laudantium excepturi,
    beatae deserunt blanditiis saepe voluptatum voluptas ab accusantium tempora eos,
    non voluptatibus! Fugiat delectus natus distinctio rerum neque. Maxime aut asperiores
    placeat quidem non corporis, neque optio. Quo doloremque, perferendis ex alias
    praesentium quis sint sequi earum, cupiditate delectus id, minima quae! Fuga
    illum unde dolorum possimus fugiat! Maxime, doloribus! Minus doloribus, provident
    fuga unde quas est? Delectus, ullam. Quas sit ea omnis nam, eligendi veniam praesentium
    numquam, vero esse eveniet, cum quae dolor. Odit necessitatibus neque architecto
    porro impedit ex, quidem, autem sed perspiciatis eius similique. Consequuntur,
    perferendis architecto qui facilis dolorem maxime sit consectetur minima natus
    ullam reiciendis. Tenetur saepe consequatur amet aut eum asperiores, cum veniam
    molestias minima ut, et distinctio nam nulla numquam. Illo atque, dolorem labore
    illum nihil provident eum repudiandae. Incidunt omnis dolor velit, rerum, consequatur
    enim blanditiis eum assumenda magni corrupti, provident iure suscipit voluptate
    quo ex maiores optio commodi. Neque quas minus incidunt ad nisi atque tenetur
    eum odit, commodi non aperiam eligendi quo a saepe hic explicabo, fuga sint iste
    ratione eaque facilis inventore quasi aspernatur repudiandae? Doloribus? Deleniti,
    sint expedita minima mollitia similique provident dolores qui nostrum dolore
    est ullam doloremque suscipit alias quasi, aperiam aliquam quis explicabo dolorum
    pariatur excepturi ab eligendi eaque quas accusantium. Autem. Vel laborum itaque,
    cumque cum dolor eum dolores? Repellat sunt odit voluptas porro mollitia. Quaerat
    quam quis in natus at quod illo harum deserunt esse fugiat laudantium maiores,
    eligendi odit? Quasi excepturi veritatis eveniet eaque velit quibusdam rerum
    voluptatibus, laudantium nisi. Culpa provident quasi numquam asperiores, nemo
    accusamus. Sed porro sequi nulla obcaecati exercitationem delectus itaque voluptate
    doloribus facere. Quibusdam! Inventore enim quas deleniti saepe provident beatae
    deserunt velit suscipit? Veritatis officiis quam eum molestias reiciendis. Esse,
    tenetur eum vitae libero rerum nulla ex, deserunt id modi optio aliquam incidunt!
    Architecto inventore ea deleniti quaerat vero qui quos laborum perferendis tenetur.
    Quidem veritatis, vitae sequi deserunt dicta quo provident alias officiis nihil
    a totam culpa illo praesentium quos obcaecati. Expedita? Perspiciatis, saepe
    accusamus! Ut veritatis placeat iste illum itaque. Quidem qui et voluptatem laboriosam
    cumque sit sapiente vero in! Vel in eligendi explicabo cupiditate itaque ratione
    consectetur facere alias reiciendis! Hic excepturi eaque sint adipisci quibusdam
    laboriosam quas molestias quasi reiciendis. Dignissimos recusandae ut sit possimus.
    Nesciunt sunt ex dolorum veniam doloribus laboriosam, adipisci distinctio ab,
    suscipit iure, illo id. Blanditiis quae, impedit, rem ducimus tempore minus sunt
    asperiores modi dolorum animi enim officiis vel voluptatum quam nesciunt sed
    distinctio iusto quaerat tempora. Dolor est ea, quos molestias quia voluptates.
  </body>
</html>
