---
import "../styles/global/styles.css";
import { Card } from "../components/card/Card";
import { Modal } from "../components/modal/Modal";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Playground</title>
  </head>
  <body>
    Este es una Playground para hacer pruebas!
    <!--<Card info={"ram 1500 rho $10.000"} image="/ram1.avif" />-->
    <Modal />
  </body>
</html>
