---
import "../styles/global/styles.css"
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Playground</title>
    </head>
    <body>
        Este es una Playground para hacer pruebas!
    </body>
</html>