---
import "../styles/global/styles.css";
import { Background } from "../components/background/Background";
import { HeaderPage } from "../components/header/HeaderPage";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Playground</title>
  </head>
  <body>
    <h1>Este es un playground para test!</h1>
    <Background client:load />
    <HeaderPage>
      <button type="reset">close</button>
    </HeaderPage>
  </body>
</html>
