.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1rem;
  justify-items: stretch;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.actionsContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-evenly;
}