.container {
  display: block;
}

.child {
  display: block;
  color: grey;
}

.childContent {
  display: flex;
  grid-template-rows: 100px;
  gap: 2rem;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.childContent>* {
  flex: 0 0 calc(20% - 2rem);
  min-width: 200px;
  max-height: 200px;
}


  .childFilters {
    justify-self: end;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .searchBar {
    margin-inline: 2rem;
  }


  .fixPagination {
    margin-block: 2rem;
    width: fit-content;
    margin-inline: auto;
  }