.container {
  display: block;
}

.child {
  display: block;
  color: grey;
}

.childContent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, calc(90dvw / 5)));
  gap: 15px;
  align-items: center;
  justify-items: center;
  justify-content: center;
  padding: 1rem;
  grid-template-rows: repeat(auto-fit, 200px);

  div {
    height: unset;
    width: unset;
  }
}

.childFilters {
  justify-self: end;
  padding: 1rem;
}

.searchBar {
   all: unset;
  outline: 1px solid rgb(255 255 255 / 25%);
  padding: 0.5rem;
  border-radius: 1rem;
  box-shadow: inset 0 0 5px 0 rgb(255 255 255 / 25%);
  color: white;
  text-align: center;
  backdrop-filter: blur(10px);
  margin-left: 4rem;
}

.searchBar::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

#selct{
  all: unset;
  outline: 1px solid rgb(255 255 255 / 25%);
  padding: 0.5rem;
  border-radius: 1rem;
  box-shadow: inset 0 0 5px 0 rgb(255 255 255 / 25%);
  color: rgb(255, 255, 255);
  text-align: center;
  background-color: transparent;
}