.container {
  display: block;
}

.child {
  display: block;
  color: grey;
}

.childContent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, calc(100vw / 6)));
  gap: 2rem;
  align-items: center;
  justify-items: center;
  justify-content: center;
  padding: 1rem;

  div {
    height: unset;
    width: unset;
  }
}

.childFilters {
  justify-self: end;
  padding: 1rem;
}

.searchBar {
  margin-left: 4rem;
}


.fixPagination {
  margin-block: 2rem;
  width: fit-content;
  margin-inline: auto;
}