.container {
  display: block;
}

.child {
  display: block;
  color: grey;
}

.childContent  {
    display: flex;
  grid-template-rows: 100px;
  gap: 2rem;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.childContent > * {
  flex: 1 1 calc(20% - 2rem);
  min-width: 200px;
  max-height: 100px;
}     


.childFilters {
  justify-self: end;
  padding-inline: 5rem;
}

.searchBar {
  margin-left: 4rem;
}


.fixPagination {
  margin-block: 2rem;
  width: fit-content;
  margin-inline: auto;
}