.container {
    display: block;
}

.child {
    display: block;
    color: grey;
}

.childContent {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    div{
        justify-self: center;
    }
}

.childFilters {
    justify-self: end;
    padding: 1rem;
}

@media (width > 1024px) {
    .childContent {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

@media (width < 426px) {
    .childContent {
        grid-template-columns: 1fr 1fr;
    }
}