.container {
  width: 80%;
  margin: auto;
  height: auto;
  display: grid;
  justify-content: space-around;
  align-items: center;
  grid-template-columns: repeat(2, auto);
  outline: 1px white solid;
  border-radius: 1rem;
  margin-block: 5rem;
  gap: 2rem;
  padding: 1rem;
}

.child {
  display: block;
  width: fit-content;
}

span.anchor {
  all: unset;
  display: block;
  width: max-content;
}

a.navigate {
  cursor: pointer;
}