.carousel-container {
    width: 100%;
}

.carousel-stack {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
    margin: auto;
    overflow: hidden;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.7s ease, z-index 0.5s, opacity 0.5s;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

}

.carousel-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;

    button {
        font-size: 25px;
        background: #fff;
        border: 1px solid #ccc;
        padding: 8px 24px;
        cursor: pointer;
        border-radius: 5px;
        transition: 0.3s;
    }

    button:hover {
        background: #eee;
    }
}


@media (max-width: 768px) {
    .slide {
        width: 70%;
    }

    .carousel-buttons button {
        font-size: 14px;
        padding: 6px 12px;
    }
}

@media (max-width: 480px) {
    .slide {
        width: 80%;
    }
}