.footer {
  background-color: #1e293b;
  color: #ffffff;
  padding: 2.5rem;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  max-width: 64rem;
  margin: 0 auto;
  text-align: center;
}

@media (min-width: 900px) {
  .footer-container {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 5rem;
  }
}

.footer-title {
  font-size: 1.875rem;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.footer-brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  gap: 1rem;
}

.footer-description {
  color: #cbd5e1;
  font-size: 1.125rem;
  max-width: 32rem;
}

.footer-copy p {
  color: #94a3b8;
  font-size: 0.875rem;
}

.footer-copy .small {
  font-size: 0.75rem;
}

.footer-contact, .footer-social  {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;

  h3 {
    margin: 0 auto;
    font-size: 1.125rem;
    font-weight: 600;
    color: #e2e8f0;
  }
}

.contact-items {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  text-align: center;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #cbd5e1;
}

.icon {
  width: 1rem;
  height: 1rem;
  color: #60a5fa;
}

.social-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 210px;
}

.social-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #cbd5e1;
  background: transparent;
  border: 1px solid #cbd5e1;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  cursor: pointer;
  font-size: 0.875rem;
  transition: all 0.2s ease;
  min-width: 100%;
}

.social-btn:hover {
  color: #ffffff;
  background-color: #334155;
  border-color: #ffffff;
}