header {
    background-color: #0E1E34;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0px;
    display: block;
    margin: 1rem;
    border-radius: .5rem;
    box-shadow: 0 0 18px 2px black;
    opacity: .75;
    outline: 1px #ffffff80 solid;
    color: snow;
    padding: 1rem;
}

@media (prefers-color-scheme: dark) {
    header{
        background-color: initial;
    }
}