.background {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  filter: brightness(.5);
}

.items {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.4);
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

.fade {
  opacity: 1;
  z-index: 1;
}
