.containerView {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  outline: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 1rem;
  width: fit-content;
  margin: 1rem auto;
  padding-inline: 2rem;
}

.containerProfile {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: center;
  flex-wrap: nowrap;
}


.containerPassword {
  display: flex;
}

.headProfile {
  width: 95%;
  text-align: center;
  color: white;
  border-block: 1px white solid;
  margin-block: 1rem;
}

.itemsProfile {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  padding: .5rem;
  flex-wrap: wrap;
}

.itemsTitle {
  width: 100%;
  text-align: start;
  margin-block: .5rem;
}

.itemsData {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.25);
}

.profilePhoto {
  width: clamp(100px, 50vw, 200px);
  ;
  margin: auto;
  border-radius: 100%;
  outline: 2px rgb(255 255 255 / 25%) solid;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.containerProfilePhoto {
  flex-direction: column;
}