.containerView {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  outline: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 1rem;
  width: fit-content;
  padding-inline: 2rem;
  margin: 10% auto;
}

.containerProfile {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
}


.containerPassword {
  display: flex;
}

.headProfile {
  width: 95%;
  text-align: center;
  color: white;
  border-block: 1px white solid;
  margin-block: 1rem;
}

.itemsProfile {
  color: white;
  display: grid;
  justify-content: center;
  align-items: center;
  padding-block: 1rem;
  align-content: center;
  justify-items: start;
  grid-template-columns: 1fr;
}

.itemsTitle {
  text-align: start;
  margin-block: .5rem;
  width: unset !important;
}

.itemsData {
  background-color: rgba(255, 255, 255, 0.25);
  width: unset !important;
}

.profilePhoto {
  width: clamp(100px, 50vw, 200px);
  ;
  margin: auto;
  border-radius: 100%;
  outline: 2px rgb(255 255 255 / 25%) solid;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  cursor: pointer;
}

.containerProfilePhoto {
  flex-direction: column;
}

.containerResposive {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  column-gap: 5rem;
}

.toast {
  position: fixed !important;
  top: 0 !important;
  display: none;
}

.showToast {
  display: block !important;
  animation: showToastAnimation 0.5s forwards !important;
}

@keyframes showToastAnimation {
  from {
    opacity: 0;
    transform: translateY(0);
  }

  to {
    opacity: 1;
    transform: translateY(80px);
  }
}